name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        path: go-ipfs
        repository: ipfs/go-ipfs
    
    - name: Use go-bitswap with WireTap
      run: |
          cd go-ipfs
          go get -v github.com/ipfs/go-bitswap@bc3df6b
          make build
    
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
          path: cidtrack

    - name: Build
      run: |
          cd cidtrack
          make go.mod IPFS_VERSION=$PWD/../go-ipfs
          make install 

    - name: Test
      run: |
          cd cidtrack
          make test

    - name: Start daemon and use plugin
      run: |
          cd go-ipfs
          ./cmd/ipfs/ipfs init
          ./cmd/ipfs/ipfs daemon &
          sleep 30
          curl 'http://127.0.0.1:5002/get'
          pkill ipfs
