name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        repository: ipfs/go-ipfs
    
    - name: Use go-bitswap with WireTap
      run: go mod edit -replace github.com/ipfs/go-bitswap=github.com/ipfs/go-bitswap@bc3df6b
           
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        path: plugin/plugins/cidtrack

    - name: Get dependencies
      run: |
        cd plugin/plugins/cidtrack
        go get -v -t -d ./...

    - name: Build
      run: |
        cd plugin/plugins/cidtrack
        go build -v .

    - name: Test
      run: |
        cd plugin/plugins/cidtrack
        go test -v -race -coverprofile=coverage.txt -covermode=atomic

    - name: Codecov
      uses: codecov/codecov-action@v1.0.13
      with:
        file: plugin/plugins/cidtrack/coverage.txt
